@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif; */

/* Reset */
html{
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
}
body{
    margin: 0;
}
.btn{
    padding: 0;
    border: none;
    background: none;
}

/* Root */
:root{
    --light-primary: #cafafe;
    --light-secondary: #97caef;
    --dark-primary: #55bcc9;
    --dark-secondary: #fc4445; 
}

/* Global */
body{
    width: 100vw;
    height: 100vh;
    background: url(assets/liquid-art-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1, h2, h3, h4, h5, h6, p, button{
    font-family: 'Roboto', sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    width: 100vw;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    background-color: var(--dark-primary);
}
.grid-controls{
    width: 100%;
    max-width: 520px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.grid-controls__grid-size, .grid-controls__grid-color, .grid-controls__grid-rainbow{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slider, .btn{
    height: 27px;
    width: 50%;
}
.rainbow-btn{
    border: 1px solid var(--dark-primary);
    border-radius: 8px;
    color: #ffffff;
    font-weight: 700;
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
}
.rainbow-btn:hover{
    transform: scale(1.1);
    background:linear-gradient(
        90deg,
        rgba(95, 21, 242, 1) 0%,
        rgba(186, 12, 248, 1) 10%,
        rgba(251, 7, 217, 1) 20%,
        rgba(255, 0, 0, 1) 30%,
        rgba(255, 154, 0, 1) 40%
        rgba(208, 222, 33, 1) 50%,
        rgba(79, 220, 74, 1) 60%,
        rgba(63, 218, 216, 1) 70%,
        rgba(47, 201, 226, 1) 80%,
        rgba(28, 127, 238, 1) 90%,
        rgba(95, 21, 242, 1) 100%
    );
    transition: .5s ease;
}

.grid-controls, .etch-a-sketch{
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
}
.etch-a-sketch{
    margin: 10px auto;
    padding: 8px;
}
/* Grid */
.grid-container{
    width: 500px;
    height: 500px;
    margin: 20px auto;
}
.grid-square{
    border: 1px solid #000;
    background-color: #fff;
}
.active{
    background-color: #252525;
}
.hide{
    border: none;
}
.grid-buttons{
    width: 100%;
    display: flex;
}
.hide-show-btn, .reset-btn{
    width: 100%;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
}
.hide-show-btn{
    color: var(--dark-primary);
    background-color: var(--light-primary);
}
.reset-btn{
    color: #fff;
    background-color: var(--dark-secondary);
}
/* Media Query */
@media (max-width: 500px){
    .grid-controls, .etch-a-sketch{
        border-radius: 0;
    }
    .etch-a-sketch{
        width: 100%;
    }
    .grid-container{
        width: 400px;
        height: 400px;
    }
}
@media (max-width: 400px){
    .grid-container{
        width: 300px;
        height: 300px;
    }
}